# Basic python Datastructure project

### String

In [ ]:
#Q1 Give examples for concatenation two string?
i ="apple"
j="orange"
print(i+j)

In [ ]:
#Q2 Find the length of the string?
F= "Edubrdige.com"
print(len(F))

In [18]:
#Q3 Reverse the string: d = "India won T20 World Cup"
d =  "T20 World Cup 2024"
ld = d.split()
print(ld)

['T20', 'World', 'Cup', '2024']

In [21]:
#Q4 use the slice function and write an code

F = 'Helloworld'
print(F[1:4])

ell

In [15]:
# Q5 split and replace the string function
s = 'Jahanvi/is/a/promising/learner.'
t= s.split('/')
print(t)

p = 'Data Analytics is good'
p.replace('Analytics','Science')

['Jahanvi', 'is', 'a', 'promising', 'learner.']

'Data Science is good'

In [32]:
#Q6 Use different string like percent  and f' method for string formetting

a = input("Enter the name.")
b = input("Enter the string")
c = float(input("Enter the strike rate"))
d = int(input("Enter the runs"))
print(a,"has scored",d,"runs with an strike rate of",c,"in the",b,".")

print("%s has scored %d runs with a strike rate of %.2f in the %s"%(a,d,c,b))
print(f'{a} has scored {d} runs with an strike of {c} in the {b}')

Enter the name. rohit
Enter the string t20 world cup
Enter the strike rate 124
Enter the runs 74

rohit has scored 74 runs with an strike rate of 124.0 in the t20 world cup .
rohit has scored 74 runs with a strike rate of 124.00 in the t20 world cup
rohit has scored 74 runs with an strike of 124.0 in the t20 world cup

### Tuples and set

In [48]:
# Q1 Create a set of unique integers
my_set = {1, 2, 3, 4, 5,7,8,}

# Attempting to add a duplicate element will have no effect
print(my_set.add(9))

None

In [ ]:
# Q2 Find the length of the set
length = len(my_set)

# Q3 Iterate through the set
print("Set elements:")
for item in my_set:
    print(item)

In [ ]:

# Q4 Perform set operations (union, intersection, difference)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
intersection_set = set1 & set2
difference_set = set1 - set2

In [52]:
#Q5 # Create a tuple of mixed data types
m_tuple = (1, "apple", 3.14, True)

#Fild length of tuple

len(m_tuple)

# Access elements of the tuple using indexing
print("The first element is:", m_tuple[2:3])
print("The second element is:", m_tuple[-1])

The first element is: (3.14,)
The second element is: True

### Dictionary

In [1]:
#Q1 Creates a sorted dictionary (sorted by key)
dict = {'ravi': '10', 'rajnish': '9',
        'sanjeev': '15', 'yash': '2', 'suraj': '32'}
dict1 = sorted(dict.items())
print(dict1)

[('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')]

In [2]:
#Q2 find the keys and value 
#info = {'name': 'Deepak','city': 'Bangalore','age': 34,'gender': 'Male','hobbies':'playing cricket','occupation':'freelancer'}
info = {'name': 'Deepak','city': 'Bangalore','age': 34,'gender': 'Male','hobbies':'playing cricket','occupation':'freelancer'}

print(info.values())
print(info.keys())

dict_values(['Deepak', 'Bangalore', 34, 'Male', 'playing cricket', 'freelancer'])
dict_keys(['name', 'city', 'age', 'gender', 'hobbies', 'occupation'])

In [9]:
#Q3 To remove the item  from dictionary
dict1 = {'1':'abs','2':'psl','3':'wqs','4':'ijl','5':'qwe','6':'rsk','7':'yyk'}

dict1.popitem()

('7', 'yyk')

In [10]:
#Q4  use to filter the dictionary according to the age  where the ‘age’ key is greater than 25

data = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}, {'name': 'Charlie', 'age': 22}]
filtered_data = [d for d in data if d['age'] > 25]
print(filtered_data)

[{'name': 'Bob', 'age': 30}]

In [11]:
#Q5 Merging two or three dictionary 

d1 = {'athlete':'Ronaldo','country':'Portugal','height': 185}
d2 = {'sport':'Football','brand':'Reebok','Marital_status':'Married'}
d3 = {'age': 39,'club_team':'Al Nassr'}

d = {}
d.update(d1)
d.update(d2)
d.update(d3)

print(d)

{'athlete': 'Ronaldo', 'country': 'Portugal', 'height': 185, 'sport': 'Football', 'brand': 'Reebok', 'Marital_status': 'Married', 'age': 39, 'club_team': 'Al Nassr'}

# UDF: User Defined Functions

In [ ]:
#Q1.Create a UDF which gives the name having the max no of characters.
name1 = input("Enter first name")
name2 = input("Enter second name")
name3 = input("Enter third name")
def name_max(a,b,c):                                  #Positional arguments
    if len(a) > len(b) and len(a)> len(c):
        print(a , "has", len(a),"no of characters.")
    elif len(b) > len(a) and len(b)> len(c):
        print(b , "has", len(b),"no of characters.")
    else:
        print(c , "has", len(c),"no of characters.")
        
        
        
name_max(name1,name2,name3)

In [13]:
#Q2 Create a UDF which gives the median of any five random values?
data = [20,9,35,45,5]
def med_four(l):             #taking a list as a parameter
    s = sorted(l)
    pos = len(s)//2          #pos = 2
    return s[pos]            #indexing



med_four(data)           #fucntion calling

20

In [ ]:
#Q3.Create a UDF which gives only the names starting with 'A' as an output. You can take names in a list or as an input.

names = ['Abhishek','Aaakash','Zahid','Ritu']    #iterable
A_names = []
def A_name(l):
    for i in names:
        if i.startswith('A'):
            A_names.append(i)
    return A_names
        
        
        
A_name(names)

In [17]:
#Q4. #Create a UDF which gives the mean and median of any random 6 values. 

data = [10,5,17,11,14,4,]
def desc_six(l):                 #flexible range
    mean = round(sum(l)/len(l),2)
    s = sorted(l)
    if len(s) %2 ==0:
        pos1 = len(s)//2
        pos2 = (len(s)//2) + 1
        median = (s[pos1] + s[pos2])/2
        print("Median:",median)
        print("Mean:",mean)
    else:
        pos = len(s)//2          
        print("Median:",s[pos])
        print("Mean:",mean)
    
    
desc_six(data)

Median: 12.5
Mean: 10.17

In [17]:
#Q5.Use UDF to write even number

def Even_num(x):
    if(x%2 ==0):
        print("even")
    else:
        print("odd")


Even_num(4)
Even_num(3)

### Object oriented programming

In [43]:
#Q1 write an function using encaplusation method
class BankAccount:
    def __init__(self, account_number):
        self.__account_number = account_number  # Private attribute
    
    def validate_pin(self, pin):
        return len(str(pin)) == 4

# Creating an instance of the class
account = BankAccount("1234")


# Accessing private attributes using name mangling
print(account._BankAccount__account_number)  # Output: 12345

1234

In [ ]:
#Q2 Create class function using  init Constructor:


class Student:
    def __init__(self):                               # non-parametrized constructor
        self.name = input("Enter the name")
        self.course = input("Enter the course name.")
        self.duration = int(input("Enter the course duration in months."))
        self.state = input("Enter the state name.")
    def show_info(self):
        print(f'{self.name} has applied for {self.course} course, which is of {self.duration} months and the student belongs to {self.state}.')
        
        
first = Student()
first.show_info()

In [17]:
#Q3 Write program for polymorphism using class inheritance


class Shape:
    def draw(self):
        raise NotImplementedError("Subclass must implement abstract method")

class Circle(Shape):
    def draw(self):
        return "Drawing a circle"

class Square(Shape):
    def draw(self):
        return "Drawing a square"
shapes = [Circle(), Square()]
for shape in shapes:
    print(shape.draw())

Drawing a circle
Drawing a square

In [22]:
#Q4 Creating class two methods on OOPS concept.

class Movie:
    Director = "Rajamouli"
    Actor ="Prabhas"
    Actress ="Tamana"
    Movie ="Bahubali"
    villan ="Rana"
    bookmyshow = 8.1
    def movie_info(self):
        print(f' The movie {self.Movie} starring the lead actor {self.Actor},lead actress{self.Actress} and negative role {self.villan}  directed by {self.Director} ')
    def movie_review(self):
        print(f'the Bookmy show rating given to the movie is {self.bookmyshow} ')

obj= Movie()
obj.movie_info()
obj.movie_review()

 The movie Bahubali starring the lead actor Prabhas,lead actressTamana and negative role Rana  directed by Rajamouli
the Bookmy show rating given to the movie is 8.1

In [16]:
#Q5 Creating the fibonacci numbers using generator function


# A simple generator for Fibonacci Numbers
def fib(limit):
    
    # Initialize first two Fibonacci Numbers 
    a, b = 0, 1

    # One by one yield next Fibonacci Number
    while a < limit:
        yield a
        a, b = b, a + b

# Create a generator object
x = fib(5)

# Iterating over the generator object using next
# In Python 3, __next__()
print(next(x)) 
print(next(x))
print(next(x))
print(next(x))


# Iterating over the generator object using for
# in loop.
print("\nUsing for in loop")
for i in fib(5): 
    print(i)

0
1
1
2

Using for in loop
0
1
1
2
3

### Looping/iteration

In [20]:
#Q1 write program for pyramid using loop


number =1 
for i in range(5): 
    for j in range(i+1):
        print(number,end=" ")
        number= number+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [19]:
#Q2 Create the inverted pyramid using loop

number = 1
for i in range(5,0,-1):
    for j in range(i):
        print(number,end =" ")
        number = number + 1
    print()

1 2 3 4 5
6 7 8 9
10 11 12
13 14
15

In [21]:
#Q3 write an factorial using loop funtion

a = int(input("Enter a number"))
r = 1                                        #for multiplication , we have to take temporary variable and initialize it 1.
for i in range(1,(a+1)):    #range(1,6) ..1,2,3,4,5    #for sum, we have to take a temporary variable and initialize it 0.
    r = r * i
print(r)

Enter a number 3

6

In [22]:
#Q4 Execute the angle triangle function using *

for i in range(0,5):
    for j in range(i+1):          #range(1)...0    range(2)...0,1
        print('*',end = '')
    print()

*
**
***
****
*****

In [24]:
#Q5 Print the table of 7 using while loop.

a = 1
while a <= 10:
    print("7 *",a, "=", 7 * a )
    a = a + 1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [13]:
#Q6 #Get the sum of all the prime numbers between 1 to 100.
#For eg: 1 to 10: 
#                 2 + 3 + 5 + 7 = 17

result = 0
for i in range(2,101):
    factors = 0
    for j in range(1,i+1):
        if i%j == 0:
            factors = factors + 1  
    if factors == 2:
                result = result + i
print(result)

1060

In [14]:
#Q7 Python program to calculate the sum of all the odd numbers withing the given range.
s = 0 
for num in range(1,51):
    if num%2!=0:
        s = s + num


        
print("The sum of all the odd numbers between 1 to 21 is : ", s)

The sum of all the odd numbers between 1 to 21 is :  625

### Lambda function

In [2]:
#Q1 F = [12,35,66,9,96,25,39,33,45,48,60,72,77,84,91,3,21]
#Get those even values which are greater than 50 from the list using lambda function.
F = [12,35,66,9,96,25,39,33,45,48,60,72,77,84,91,3,21]
list(filter(lambda l:l%2==0 and l>50,F))

[66, 96, 60, 72, 84]

In [12]:
#Q2 names = ['Himanshu','Yahswanth','Siddhant','Gaya','Kajol','Yash'] # Display only the name whose length is greater than 5 using lambda.
names = ['Himanshu','Yahswanth','Siddhant','Gaya','Kajol','Yash']
Final=list(filter(lambda  i: len(i)>5,names))
print(Final)

['Himanshu', 'Yahswanth', 'Siddhant']

In [6]:
#Q3 write an program for square function using lambda function

F= [1,4,6,7,12,11,13]
Squar_e=list(map(lambda x:x**2,F ))

[1, 16, 36, 49, 144, 121, 169]

In [11]:
#Q4 Extract all the odd numbers from the list.
d = [10,12,14,5,9,6,8,21,33,40]
odd_values = list(filter(lambda i:i%2!=0,d))
print(odd_values)

[5, 9, 21, 33]

In [10]:
#Q5 Extract the positive and negative numbers in a given list
s =[-1,-2,2,-3,4,5,7,-10]
pos_tive=list(filter(lambda i:i>0,s))
neg_tive=list(filter(lambda i:i<0,s))

print(neg_tive)
print(pos_tive)

[-1, -2, -3, -10]
[2, 4, 5, 7]

### List comprehension

In [53]:
# Q1 Using List comprehension to write the squared numbers

numbers = [1, 2, 3, 4, 5] 
squar_ed = [x ** 2 for x in numbers] 
print(squar_ed)

[1, 4, 9, 16, 25]

In [ ]:
#Q2 From the given list , get only odd numbers and add them into a new list after multiplying them with 1000.
p_new=[(i*1000) for i in p if i%2!=0]
p_new

In [55]:
#Q3 write the function LC for given list:
names = ['Himanshu','Swagath','Vijay','Gaya','Siddhant','Pavithra','Dhivya','Chetan','Bilal','Yashwanth','Yash','Jyothi','Shiny','Kajol','Jaspreet','Shankar','Rasika','Akash','Satyajit']
#if the length of name is odd,then store the names in Upper case
#if the length of name is even, then store the names in lower case.

names = ['Himanshu','Swagath','Vijay','Gaya','Siddhant','Pavithra','Dhivya','Chetan','Bilal','Yashwanth','Yash','Jyothi','Shiny','Kajol','Jaspreet','Shankar','Rasika','Akash','Satyajit']
n = [name.upper() if len(name) %2!=0 else name.lower() for name in names]
print(n)

['himanshu', 'SWAGATH', 'VIJAY', 'gaya', 'siddhant', 'pavithra', 'dhivya', 'chetan', 'BILAL', 'YASHWANTH', 'yash', 'jyothi', 'SHINY', 'KAJOL', 'jaspreet', 'SHANKAR', 'rasika', 'AKASH', 'satyajit']

In [56]:
# Q4 Nested list comprehension 
matrix = [[j for j in range(5)] for i in range(3)] 
  
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [60]:
#Q5 Write an LC program for 23 tables

numbers = [i*23 for i in range(1, 17)] 
  
print(numbers)

[23, 46, 69, 92, 115, 138, 161, 184, 207, 230, 253, 276, 299, 322, 345, 368]